{% extends 'base.html' %}

{% block content %}
    <h1>Clientes registrados</h1>
    <table class="table table-table-hoover" border="1">
        <thead>
            <tr>
                <th>Número de documento</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>fecha de nacimiento</th>
                <th>ciudad</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Ocupación</th>
                <th>Viable</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in  clientes %}
            <tr>
                <td>{{ cliente.numero_documento }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.fecha_nacimiento }}</td>
                <td>{{ cliente.ciudad.nombre_ciudad }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.ocupacion.nombre_ocupacion }}</td>
                <td>{{ cliente.viable }}</td>
                <td style="text-align: center;">
                    <a href="/cliente/update/{{ cliente.numero_documento }}"><i class="fa-solid fa-pen-to-square" style="font-size: x-large;"></i></a>
                    <a href="/cliente/delete/{{ cliente.numero_documento }}"><i class="fa-solid fa-trash" style="font-size: x-large;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="/cliente/create">Registrar un nuevo cliente</a>
    |
    <a class="btn btn-info" href="/cliente/home/{{ clientes.id_cliente }}">Volver al home</a>

    <script>
        function eliminarCliente() {
            var id_cliente = window.location.pathname.split('/').pop();
            console.log('Id cliente: '+id_cliente)

            fetch('/cliente/delete/' + id_cliente, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

{% endblock %}