{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>Registrar o Editar Cliente</h1>
    <form id="registroForm" action="" method="post" novalidate>
        {{ wtf.quick_form(form) }}
        <button class="btn btn-primary" type="button" onclick="enviarFormulario()">Enviar</button>

        {% if c.numero_documento %}
        <button class="btn btn-danger" type="button" onclick="eliminarCliente()">Eliminar</button>
        {% endif %}
    </form>

    <a class="btn btn-success" href="{{ url_for('cliente.listar_clientes', id_cliente=cliente.numero_documento) }}}}">Ver clientes registrados</a>

    {# Para manejar las REST de crear, editar, eliminar cliente #}
    <script>
        function enviarFormulario() {
            var formData = {
                "numero_documento": document.getElementById("numero_documento").value,
                "nombre": document.getElementById("nombre").value,
                "apellidos": document.getElementById("apellidos").value,
                "fecha_nacimiento": document.getElementById("fecha_nacimiento").value,
                "id_ciudad": document.getElementById("id_ciudad").value,
                "email": document.getElementById("email").value,
                "telefono": document.getElementById("telefono").value,
                "id_ocupacion": document.getElementById("id_ocupacion").value
            };

            var url = '/cliente/create';
            var metodo = 'POST';

            if (window.location.pathname.includes('/update/')) {
                var id_cliente = window.location.pathname.split('/').pop();
                url = '/cliente/update/' + id_cliente;
            }

            fetch(url, {
                method: metodo,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert(data.mensaje + '\nViabilidad: ' + data.viable)
                location.replace('http://127.0.0.1:5000/cliente/listar')
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function eliminarCliente() {
            var id_cliente = window.location.pathname.split('/').pop();

            fetch('/cliente/delete/' + id_cliente, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert('Cliente eliminado correctamente');
                location.replace('http://127.0.0.1:5000/cliente/listar')
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
